* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Century Gothic';
	background-color: #f6f6f6;
}

li {
	list-style: none;
	display: flex;
}

a {
	text-decoration: none;
}

header {
	background: #f6f6f6;
	padding: 22px 0;
}

.header-container {
	width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.header-container a {
	color: #000;
	font-size: 16px;
	margin-right: 63px;
	padding: 27px 6px;
}

.header-container a:hover {
	background: #ffea00;
}

#menu-checkbox {
	display: none;
}

ul {
	display: flex;
}

nav {
	margin-top: 20px;
}

.top-slide {
	background: url(../img/slider_bg.png) no-repeat;
	background-size: cover;
	padding: 120px 0 400px 0;
}

.top-container {
	width: 85%;
	margin: 0 auto;
}

.top-slide h2 {
	background: #ffea00;
	display: inline;
	font-size: 70px;
	padding: 0 13px;
}

.top-slide :nth-child(2) {
	margin-bottom: 20px;
}

.top-slide p {
	color: #fff;
	background: #3F3F44;
	display: inline;
	font-size: 24px;
	padding: 0 4px;
}

.specialize {
	min-height: 600px;
}

.specialize-container {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.specialize-container h3 {
	text-transform: uppercase;
	padding-top: 90px;
	font-weight: normal;
	font-size: 36px;
}

.specialize-container p {
	margin-top: 24px;
	font-size: 24px;
}

.specialize-cards {
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}

.specialize-cards .card {
	position: relative;
	margin-top: 60px;
}

.specialize-cards .not-active {
	background: #ffea00;
	width: 250px;
	height: 168px;
	padding-top: 40px;
}

.specialize-cards .not-active h3 {
	position: absolute;
	bottom: 10px;
	left: 10%;
	right: 10%;

	font-size: 20px;
	font-weight: bold;

	text-transform: uppercase;
}

.specialize-cards .card p {
	position: absolute;
	top: 184px;

	font-size: 13px;
	font-weight: bold;

	padding-top: 27px;
	width: 250px;
	height: 58px;

	color: #fff;
	background: #414146;
}

.specialize-cards .card .first-p {
	font-size: 20px;
}

.portfolio {
	width: 80%;
	margin: 0 auto;
	text-align: center;
}

.portfolio h4 {
	background: #424147;
	padding: 0 8px;
	font-size: 18px;
	display: inline-block;
	color: #f5e10a;
	margin-bottom: 30px;
}

.portfolio p {
	color: #414246;
	font-size: 16px;
}

.toggles button {
	border: none;
	color: #414246;
	cursor: pointer;
	font-size: 16px;
	margin: 20px 5px;
	background-color: #f6f6f6;
}

.toggles button:hover {
	opacity: 0.5;
}

.toggles button:after {
	content: " / ";
}

.toggles button:last-child:after {
	content: "";
}

.posts {
	display: grid;
	grid-template-columns: repeat(4, auto);
	grid-column-gap: 25px;
	grid-row-gap: 50px;
}

.brand-slider {
	width: 80%;
	margin: 0 auto;
	text-align: center;
	margin-bottom: 100px;
}

.brand-slider h4 {
	margin-top: 40px;
	background: #424147;
	padding: 0 8px;
	font-size: 18px;
	display: inline-block;
	color: #f5e10a;
	margin-bottom: 30px;
}

.brand-slider p {
	color: #414246;
	font-size: 16px;
	margin-bottom: 30px;
}

footer {
	background: #414146;
	padding: 30px 0;
	color: #fff;
}

footer h4 {
	font-size: 18px;
}

.footer-container {
	display: grid;
	grid-template-columns: repeat(3, 30%);
	grid-column-gap: 3%;
	width: 80%;
	margin: 0 auto;
}

.footer-container-title {
	margin-bottom: 30px;
}

.footer-container p {
	font-weight: bold;
}

.footer-container .about-us a {
	display: inline-block;
	background: #000;
	color: #fff;
	font-size: 15px;
	font-weight: bold;
	padding: 15px;
	margin-top: 30px;
	margin-bottom: 40px;
	border-bottom: 2px solid #ffea00;
}

.footer-container .about-us a:hover {
	color: #000;
	background: #fff;
}

.about-us-images {
	margin-top: 10px;
}

.tweets p {
	margin-top: 20px;
	font-size: 13px;
	font-weight: bold;
}

.yellow {
	color: #f5e10c;
}

.days {
	font-size: 10px;
}

.tweets .social-con {
	display: flex;
}

.social-con-images {
	margin-top: 10px;
}

.social-con-title {
	padding-top: 12px;
	padding-right: 5px;
}

.tweets .images a:hover {
	opacity: 0.5;
}

.contacts img:not(:last-child) {
	margin-right: 25px;
	margin-bottom: 35px;
}

.contacts p {
	margin-bottom: 18px;
}

.contacts h4 {
	margin-bottom: 20px;
}

.contacts input {
	position: relative;
	color: #fff;
	background-color: inherit;
	border: none;
	border-bottom: 2px solid #ffea00;
	outline: none;
	padding: 3px;
	font-size: 16px;
}

.contacts input:active {
	border-color: none;
}

.contacts-item {
	display: flex;
}

.contacts-item a {
	margin-left: 5px;
	margin-bottom: -5px;
}



@media screen and (max-width: 1550px) {
	.posts {
		grid-template-columns: repeat(2, auto);
	}
}

@media screen and (max-width: 1270px) {
	.specialize-cards {
		width: 80%;	
		flex-direction: column;
		justify-content: center;
	}

	.specialize-cards .card {
		margin: 50px auto;
	}

	.specialize-cards:last-child {
		margin-bottom: 80px;
	}
}

@media screen and (max-width: 860px) {
	.header-container {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	.main-menu {
		display: none;
	}
		
	.main-menu li {
		width: 100%;
		display: block;
		font-size: 12px;
	}

	.main-menu a {
		display: block;
		padding: 8px;
	}

	.toggle-button {
		text-align: center;
		display: block;
		cursor: pointer;
		color: #000;
		margin-top: 20px;
	}

	.toggle-button:after {
		content: attr(data-open);
		display: block;
	}

	#menu-checkbox:checked + nav[role="navigation"] .main-menu {
		display: block;
	}

	#menu-checkbox:checked + nav[role="navigation"] .toggle-button:after {
		content: attr(data-close);
	}

	.header-container a {
		margin-right: -65px;
	}

	.main-menu {
		position: relative;
		top: 30px;
		right: 65px;
	}

	.top-slide {
		padding: 40px 0 400px 0;
	}

	.top-slide h2 {
		font-size: 50px;
	}

	.top-slide p {
		font-size: 18px;
	}

	.specialize h3 {
		font-size: 30px;
	}
	
	.specialize-container p {
		font-size: 18px;
	}

	.specialize-cards {
		width: 80%;	
		flex-direction: column;
	}

	.specialize-cards .card {
		margin-bottom: 50px;
	}

	.specialize-cards:last-child {
		margin-bottom: 80px;
	}

	.posts {
		grid-template-columns: repeat(1, auto);
	}

	.footer-container {
		grid-template-columns: auto;
	}

	.footer-container-title {
		margin-top: 50px;
	}

	.footer-container h4 {
		font-size: 18px;
	}

	.footer-container p {
		font-size: 16px;
		font-weight: normal;
	}
}